{% extends "_layouts/base.html" %}
{% block title %}
Blog | {{ super() }}
{% endblock %}
{% block content %}
<div class="sourceCode container-fluid">
    <div class="row">
        <div class="m-2 col-xl-2 col-md-3 border border-success">
            <div class="start2p m-2 list-group">
                <a href="{{ url_for('index') }}" class="list-group-item list-group-item-action ">
                    <img src="static/img/disk.png" class="iconsP" alt="">Home 
                </a>
                <a href="{{ url_for('blog') }}" class="list-group-item list-group-item-action list-group-item-success">
                    <img src="static/img/paper.png" class="iconsP" alt="">Blog
                </a>
                <a href="{{ url_for('about') }}" class="list-group-item list-group-item-action ">
                    <img src="static/img/gosht.png" class="iconsP" alt="">About
                </a>
            </div>
            
        </div>


    
        
        <div class="m-2 col-xl-7 col-md-8 border border-success">
            <div class="m-2 text-center text-success">
                <h3 class="start2p"> Entradas</h3>
            </div>
            {% for item in posts %}
            <div class="mb-5">
                <div class="card text-white text-center">
                    <div class="start2p card-header">
                        {{ item["header"]["title"] }}
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{ item["body"]["intro"]["title"] }}</h5>
                    <p class="card-text">{{ item["body"]["intro"]["text"] }}</p>
                    <h6 class="card-title">{{ item["body"]["body"][0]["title"] }}</h6>
                    <p class="card-text">{{ item["body"]["body"][0]["text"] }}</p>
                    
                    <a href="{{ url_for('post', pk=item["header"]["pk"]) }}">Continuar</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ item["label"] }}
                    </div>
                </div>
            </div>
            {% endfor %}
        
        </div>
    </div>
</div>

{% endblock %}