{% extends "_layouts/base.html" %}
{% block title %}
Index | {{ super() }}
{% endblock %}
{% block content %}
<div class="sourceCodec section " > 
  
  <div class="columns ">
     

    <div class="column is-narrow panel ">
        <div class=" column">
            <h3 class="textoVerde start2p title is-5 "></h3>
        </div>
      <div class="start2p column is-12 negro bordeVerde">
        <a href="{{ url_for('index') }}" class="panel-block rojo bordeVerde">
            <img src="static/img/disk.png" class="iconsP panel-icon " alt=""><span class="textoVerde start2p">Home</span>  
        </a>
        <a href="{{ url_for('blog') }}" class="panel-block bordeVerde">
            <img src="static/img/paper.png" class="iconsP panel-icon" alt=""><span class="textoVerde start2p">Blog</span>  
        </a>
        <a href="{{ url_for('about') }}" class="panel-block bordeVerde">
            <img src="static/img/gosht.png" class="iconsP panel-icon" alt=""><span class="textoVerde start2p">About</span>
          </a>
      </div>
        
    </div>

    
    <div class="column is-8 " >
      <div class="negro bordeVerde">
      <div class=" column textoCentrado">
          <h3 class="textoVerde start2p title is-4">..........</h3>
      </div>
      </div>
      <div class="column"></div>
    <!-- Proy -->
      <div class="columns">
        
        {% for item in proys %}
        <div class="column">
            
          <div class="card grisClaro bordeVerde" >
            <div class="card-image">
                <img src={{ item["header"]["img"] }} class="imgP card-img-top text-center" alt={{ item["header"]["pk"] }}>
            </div>
            
            <div class="card-content">
              <h5 class="start2p title is-5">{{ item["header"]["title"] }}</h5>
              <div class="content">
                  <p> <h5 class="title is-6">{{ item["body"]["intro"]["title"]}}</h5>
                    {{ item["body"]["intro"]["text"] }} </p>
              </div>
              
            </div>
            <div class="card-footer">
              <small class="card-footer-itme">{{ item["footer"]["label"] }}</small>
            </div>
          </div>
          
        </div>
        {% endfor %}
      </div>

      <!-- Post prevw -->
      <div class="negro bordeVerde">
      <div class="column is-offset-4 ">
          <h3 class="textoVerde start2p title is-3">Últimas entradas</h3>
        
      </div>
    </div>
      {% for item in posts %}
      <div class="column">
        <div class="card grisClaro bordeVerde">
          <div class="start2p card-header">
            <p class="card-header-title is-centered">
                {{ item["header"]["title"] }}
            </p>
          </div>
          <div class="card-content">
            <h5 class="title is-6">{{ item["body"]["intro"]["title"] }}</h5>
            <div class="content">
              <p>{{ item["body"]["intro"]["text"] }}</p>
              <a href="{{ url_for('post', pk=item["header"]["pk"]) }}">Continuar</a>
            </div>
          </div>
          <div class="card-footer">
            {{ item["footer"]["label"] }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
