{% extends "_layouts/base.html" %}
{% block title %}
Index | {{ super() }}
{% endblock %}
{% block content %}
<div class="sourceCode container-fluid" > 
  <div class="row">


    <div class="m-2 col-xl-2 col-md-3 border border-success">
      <div class="start2p m-2 list-group">
        <a href="{{ url_for('index') }}" class="list-group-item list-group-item-action list-group-item-success">
          Home
        </a>
        <a href="{{ url_for('blog') }}" class="list-group-item list-group-item-action ">
          Blog
        </a>
        <a href="{{ url_for('about') }}" class="list-group-item list-group-item-action ">
          About
        </a>
      </div>
    
    </div>


    <div class="m-2 col-xl-7 col-md-8 border border-success" >
    
    <!-- Proy -->
      <div class="jumbotron">
        <div class="card-deck">
          {% for item in proys %}
          <div class="card text-white bg-secondary" >
            <img src="..." class="card-img-top text-center" alt={{ item["header"]["pk"] }}>
            <div class="card-body">
              <h5 class="start2p card-title">{{ item["header"]["title"] }}</h5>
              <p class="card-text" ><h5>{{ item["body"]["intro"]["title"]}}</h5> <br> 
                {{ item["body"]["intro"]["text"] }} </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ item["footer"]["label"] }}</small>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Post prevw -->
      <div class="m-2 text-center text-success">
          <h3 class="start2p">Últimas entradas</h3>
      </div>
      {% for item in posts %}
      <div class="mb-5">
        <div class="card text-white text-center">
          <div class="start2p card-header">
            {{ item["header"]["title"] }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ item["body"]["intro"]["title"] }}</h5>
            <p class="card-text">{{ item["body"]["intro"]["text"] }}</p>
            <a href="{{ url_for('post', pk=item["header"]["pk"]) }}">Continuar</a>
          </div>
          <div class="card-footer text-muted">
            {{ item["footer"]["label"] }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
