{% extends "_layouts/base.html" %}
{% block title %}
Post | {{ super() }}
{% endblock %}
{% block content %}
<div class="sourceCode container-fluid">
    <div class="row">
        <div class="m-2 col-xl-2 col-md-3 border border-success">
            <div class="start2p m-2 list-group">
                <a href="{{ url_for('index') }}" class="list-group-item list-group-item-action ">
                Home
                </a>
                <a href="{{ url_for('blog') }}" class="list-group-item list-group-item-action list-group-item-success">
                Blog
                </a>
                <a href="{{ url_for('about') }}" class="list-group-item list-group-item-action ">
                About
                </a>
            </div>   
        </div>

        <div class="m-2 col-xl-7 col-md-8 border border-success">
            <div class="m-2 text-center text-success">
                <h3 class="start2p">Post</h3>
            </div>
            <div class="m-2 card text-white text-center">
                <div class="start2p card-header">
                    {{ post["header"]["title"] }}
                </div>
                <div class="card-body">
                    <div>
                        <h5 class="card-title">{{ post["body"]["intro"]["title"] }}</h5>
                        <p class="card-text">{{ post["body"]["intro"]["text"] }}</p>
                        <br>
                    </div>
                    <div>
                        <h5 class="card-title">{{ post["body"]["body"]["title"] }}</h5>
                        <p class="card-text">{{ post["body"]["body"]["text"] }}</p>
                        <br>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}