
.sourceCode {
    font-family: 'Source Code Pro', monospace;
}
.start2p {
    font-family: 'Press Start 2P', cursive;
}
.firaCode {
    font-family: 'Fira Code', monospace;
}

.iconsP {
    height:64px;
    width: 64px;

}

.imgP {
    height:128px;
    width: 128px; 
    margin-left: 20px;
}
